.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone-text {
    display: none; 
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.form-map-section {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

.reservation-form {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
}


@media (min-width: 768px) {
    
    .phone-text {
        display: inline; 
    }
    
    .food-grid {
        grid-template-columns: repeat(3, 1fr); 
    }

    .form-map-section {
        grid-template-columns: 1fr 1fr; 
    }

    .reservation-form {
        grid-template-columns: 1fr 1fr;
    }
    .form-notes, .form-submit {
        grid-column: span 2; 
    }
}


@media (min-width: 1024px) {

    .content-wrapper {
        grid-template-columns: 2fr 1fr; 
        align-items: start; 
    }

    .main-content {
        grid-column: 1 / 2;
    }

    .form-map-section {
        grid-column: 2 / 3;
        grid-template-columns: 1fr; 
        position: sticky;
        top: 20px; 
    }

    .reservation-form {
        grid-template-columns: 1fr;
    }
    .form-notes, .form-submit {
        grid-column: span 1;
    }
}